html,
body {
  margin: 0;
  padding: 0;
  color: #2c3e50;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
button {
  transition: font-size 300ms ease-out;
}
body,
#root,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  padding-bottom: 3rem;
}
p {
  font-size: 0.9rem;
  line-height: normal;
}
.title,
.subtitle,
.title-label {
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 0;
}
.title, .subtitle {
  padding-bottom: 1rem;
}
.title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 1.5rem;
}
.title-label {
  padding-top: 2rem;
  font-size: 1.1rem;
}
.title + p, .subtitle + p {
  margin: 0;
}
.button {
  width: 100%;
}
.button-main {
  background: rgba(17, 255, 97, 0.88);
  border: none;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.2rem;
  padding: 0.65rem 1.6rem;
  cursor: pointer;
}
.button-main:hover {
  background: rgba(17, 255, 97, 0.68);
}
.textarea-main {
  background: #f0f0f0;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #707070;
}
.textarea-main::placeholder {
  padding-left: 3px;
  color: #2c3e50;
  font-size: 1.1rem;
}
.input-main input {
  border-bottom: 2px solid #707070;
  background: none;
}
.input-main input:focus,
.textarea-main:focus  {
  border-bottom: 2px solid #4040e9;
}
.button-secondary {
  background: none;
  border: none;
  padding: 3px 0;
  font-size: 1.1rem;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #4040e9;
}
.button-secondary:hover {
  color: #2c3e50;
}
.button--danger {
  background: rgba(255,70,14,0.88);
}
.button--danger:hover{
  background: rgba(255, 70, 14, 0.68);
}
@media screen and (min-width: 400px) {
  .title {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 900px) {
  p {
    font-size: 1rem;
  }
  .title-label {
    font-size: 1.3rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.9rem;
  }
}